@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;

}

#logoku {
    height: 70px;
}

h2 {
    color: white;
    margin-left: 6%;
    font-family: 'Oswald', sans-serif;
    ;
    font-weight: 700;
}

h3 {
    color: #4caf50;
    margin-left: 6%;
    margin-top: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 6%;
    color: rgb(164, 164, 164);
    font-weight: 500;
}

.kotak {
    background-color: #4caf50;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
}

#login {
    color: white;
    text-decoration: none;
}

:root {
    --surface-color: #fff;
    --curve: 40;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: black;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: black;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: black;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    transition: opacity 0.7s, visibility 0.7s;
    z-index: 1;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #4caf50;
    border-radius: 50%;
    animation: loading 0.7s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
      position: absolute;
    }
}


.footer-distributed {
    background-color: #111;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
    font-family: 'Oswald', sans-serif;
}

.footer-distributed h3 {
    color: #fff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img {
    width: 30%;
}

.footer-distributed h3 span {
    color: #4caf50;
}

/* Footer links */

.footer-distributed .footer-links {
    color: whitesmoke;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
    font-family: 'poppins';
}


.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #4caf50;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #ffff;
    text-decoration: none;
    ;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
    font-family: 'poppins';
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #4caf50;
    transition: 0.5s;
}

@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}


.footer-distributed {
    background-color: #111;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
    font-family: 'Oswald', sans-serif;
}

.footer-distributed h3 {
    color: #fff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img {
    width: 30%;
}

.footer-distributed h3 span {
    color: #4caf50;
}

/* Footer links */

.footer-distributed .footer-links {
    color: whitesmoke;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    font-family: 'poppins';
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
    font-family: 'Oswald', sans-serif;
}


.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #4caf50;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #ffff;
    text-decoration: none;
    ;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
    font-family: 'Oswald', sans-serif;
    ;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #4caf50;
    transition: 0.5s;
}

@media (max-width: 760px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}

html {
    background-color: #eaf0f2;
}

body {
    font: 16px/1.6 Arial, sans-serif;
}

h5 {
    color: #4caf50;
    font-family: 'Oswald', sans-serif;
    ;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
}

span {
    color: white;
}

.card-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 20px;
    margin-left: 130px;
}

.card2 {
    flex: 1;
    background-color: #545454;
    color: #4caf50;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    margin-right: 20px;
    
}

.card2:last-child {
    margin-right: 0;
}

.card2:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px #4caf50;
}

.card2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-description {
    color: white;
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        text-align: center;
        width: 270px;
        margin-left: -1px;
        margin-left: 65px;
    }
    .card2 {
        margin-bottom: 20px;
        margin-right: 0;
    }
    .card-title{
        text-align: center;
        padding-right: 20px;
    }
    .card2 img{
        height: 200px;
        padding-top: 40px;
    }
}
#boba{
    height: 200px;
}

.siapa{
    color: white;
    font-family:'Oswald', sans-serif;
    font-size: 35px;
    font-weight: 600;
    padding-left: 6%;
    padding-top: 1.5%;
}
.sedikit{
    color: white;
    padding-left: 6%;
    font-size: 20px;
    margin-right: 250px;
}
@media (max-width: 768px){
    .sedikit{
        margin-right: 80px;
    }
}